.trending-section{
    display: flex;
    gap: 1em;
    
}


.card-trending{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px;
}


.card-background{
    display: flex;
}


.card-info{
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 100%;
    display: flex;
    padding: 0.6em;
    position: relative;
    box-sizing: border-box;

}

.img{
    width: 100%;
}